<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>IBM Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>


<!--<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">IBM Test</a>
</nav>-->

<nav class="sidebar sidebar-open">
    <ul class="nav nav-pills">
    </ul>
</nav>

<main role="main" class="container">

    <h4 class="form-title mt-3">Web Crawler</h4>
    <form autocomplete="off" class="form-inline justify-content-center mb-3">
        <div class="input-group">
            <input type="text" id="url-input" class="form-control" placeholder="www.youtube.com.br"
                   style="width:350px;">
            <input type="number" id="mapMaxSize-input" class="form-control" placeholder="Ex: 600 (Max quantity of URLs)"
                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                   style="width:350px;">
            <span>
                <button type="button" class="btn btn-primary ml-3" onclick="validate()"><i class="fa fa-check">
                    </i> Start WebCrowler
                </button>
            </span>
        </div>

    </form>

    <h4 class="form-title mt-3">Output URLs</h4>
    <div id="tab-for-urls">
        <div class="card pkg-issue-panel" style="border:3px solid #ccc;padding: 1px; margin-top: 7px">
            <div class="issue-header">
                <h5 id="buyer-name"></h5>
                <span class="issue-count"></span>
            </div>
            <ul class="pkg-url-list"></ul>
        </div>
    </div>

</main>
<!-- /.container -->

</body>

<script type="text/javascript">
    function validate() {
        var urlToCrawler = $('#url-input').val()
        var mapMaxSize = $('#mapMaxSize-input').val()

        if (mapMaxSize < 20) {
            mapMaxSize = 20
        }
        ;

        $.ajax({
            type: "POST",
            // contentType: "application/json",
            url: "crawler_param",
            data: {
                "urlToCrawler": urlToCrawler,
                "mapMaxSize": mapMaxSize
            },
            //cache: false,
            //timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", urlToCrawler);

                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        var myResults = "<li class=\"url-crawled\">" + data[i] + "</li>"
                        $('#tab-for-urls').find('.pkg-url-list').append(myResults);
                    }
                }

            }
        })
    }

</script>

</html>